    /* This is an additional stylesheet for the Hip to be Square Capstone site*/
    /* Author:  Pamela Belknap
    
    /* Additional styling for the Bootstrap Carousel template */
    
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
    /* GLOBAL STYLES
-------------------------------------------------- */
    /* Padding below the footer and lighter body text */
    
    body {
        padding-top: 3rem;
        padding-bottom: 3rem;
        color: Black;
        /*    background-image: url("../images/franklinknittedsquares12691270.jpg");
        background-repeat: no-repeat; */
    }
    
    h1 {
        text-align: center;
    }
    
    h2 {
        text-align: center;
    }
    
    form {
        text-align: left;
        padding: 25px;
    }
    /* Font Awesome color changes */
    
    .fa-pencil-alt {
        color: darkgoldenrod;
    }
    
    .fa-binoculars {
        color: darkblue;
    }
    
    .fa-trash-alt {
        color: darkred;
    }
    /**********************************/
    
    .formContainer {
        padding: 15px;
    }
    
    .firstRow {
        font-weight: bold;
    }
    
    .btnjustifycenter {
        text-align: center;
        font-weight: bold;
    }
    
    .deleteCancelContainer {
        border-radius: 25px;
        padding: 0px 5px;
    }
    
    .bg-purple {
        background-color: purple;
    }
    
    #memberCount {
        font-weight: bold;
        font-size: 1.1em;
    }
    
    #teamLink {
        font-weight: bold;
        text-decoration: underline;
    }
    
    #msgDiv,
    #msgAdd,
    #msgDivDelete {
        color: darkred;
        font-weight: bold;
        font-size: 1.1em;
    }
    /* RESPONSIVE CSS
  -------------------------------------------------- */
    
    @media (min-width: 40em) {}
    
    @media (min-width: 62em) {}